.icon {
    background-size: cover !important;
    z-index: 1;

    &_size {
        &_full {
            width: 100% !important;
            height: 100% !important;
        }

        &_fit {
            width: fit-content !important;
            height: fit-content !important;
        }
    
        &_drawer {
            width: 24px !important;
            height: 24px !important;
        }

        &_btn {
            width: 16px !important;
            height: 16px !important;
        }
    }

    &_allgames {
        background-image: url('../assets/images/menu-icons/allgames.svg');
    }
    &_slotsgames {
        background-image: url('../assets/images/menu-icons/slotsgames.svg');
    }
    &_topgames {
        background-image: url('../assets/images/menu-icons/tablegames.svg');
    }
    &_hotgames {
        background-image: url('../assets/images/menu-icons/livegames.svg');
    }
    &_megaways {
        background-image: url('../assets/images/menu-icons/blackjack.svg');
    }
    &_books {
        background-image: url('../assets/images/menu-icons/roulette.svg');
    }
    &_fruits {
        background-image: url('../assets/images/menu-icons/crash.svg');
    }
    &_roulettes {
        background-image: url('../assets/images/menu-icons/poker.svg');
    }
    &_favorites {
        background-image: url('../assets/images/menu-icons/favorites.svg');
    }
    &_recentplayed {
        background-image: url('../assets/images/menu-icons/recentplayed.svg');
    }
    &_promotions {
        background-image: url('../assets/images/menu-icons/promotions.svg');
    }
    &_vipclub {
        background-image: url('../assets/images/menu-icons/vipclub.svg');
    }
    &_ball {
        background-image: url('../assets/images/menu-icons/ball.svg');
    }
    &_card {
        background-image: url('../assets/images/menu-icons/card.svg');
    }
    &_ball-active {
        background-image: url('../assets/images/menu-icons/ball-active.svg');
    }
    &_card-active {
        background-image: url('../assets/images/menu-icons/card-active.svg');
    }
    &_support {
        background-image: url('../assets/images/support/support.svg');
    }
    &_email {
        background-image: url('../assets/images/support/email.svg');
    }
    &_telegram {
        background-image: url('../assets/images/support/telegram.svg');
    }
}