$desktop: 2048px;
$desktop-medium: 1465px;
$desktop-min: 1265px;
$tablet: 1023px;
$mobile: 767px;
$datatable: 600px;
$kettle: 320px;
$main-green: #0EC261;
$main-black: #121212;
$main-blue: #007BFF;
$main-light-blue: #3395ff;
$main-gray: #999999;
$main-dark-gray: #606266;
$main-semilight-gray: #becad6;
$main-white: #fff;
$main-border-gray: #E0E0E0;
$main-light-gray: #EEEEEE;
$main-background: #F5F6F8;
$main-whitesmoke: whitesmoke;
$main-danger: rgba(196, 24, 60, 1);
$main-text-color: rgba(61, 81, 112, 1);
$header-height: 68px;